.DS_Store
*.pyc
*.log
.tag*
.pydev
.pydevproject
.project
.settings
*.swp
*dump/
*backup/
eater_outputs/
app/testdata/db/*.old
app/node_modules/
*~
\#*\#
\.\#*
\.idea/
app/nose2-junit.xml
bower_components/
node_modules/
events.out.tfevents*